.meteoContainer {
   width: 90%;
   max-width: 470px;
   background: linear-gradient(149deg, rgba(2, 0, 36, 1) 27%, rgba(9, 9, 121, 1) 64%, rgba(0, 212, 255, 1) 100%);
   color: #fff;
   margin: 100px auto 0;
   border-radius: 20px;
   padding: 20px 35px 20px 35px;
   text-align: center;
}

.weatherIcons {
   width: 170px;
}

.weather h1 {
   font-size: 30px;
   font-weight: 400;
   margin-bottom: 15px;
}

.weather h2 {
   font-size: 25px;
   font-weight: 300;
   margin: -10px 0 15px 0;
}

.weather h3 {
   font-size: 25px;
   font-weight: 300;
}

.temp {
   display: flex;
   justify-content: space-around;
}

.details {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   margin-top: 50px;
}

.detailsIcons {
   width: 40px;
   margin-right: 10px;
}

.col {
   display: flex;
   align-items: center;
   text-align: left;
}

.humidity,
.wind {
   font-size: 20px;
   margin-top: -6px;
}
